extends layout
block head
  title Playlist Database
block content
  table
    thead
      tr
        each column, index in data[0]
          th= index
        th Actions
        // Generate headers for all columns and add an "Actions" header

    tbody
      each row in data
        tr
          each column in row
            td= column
          td
              form(action='delete', method='get')
                  input(type='hidden', name='user_id', value=row.user_id)
                  input(type='hidden', name='playlist_id', value=row.playlist_id)
                  button#deleteButton(type='submit') Delete
                  //- Add an "Delete" button for each row
                  //- button#editButton(type='button') Edit playlist

              form(action='editPlaylist', method='get')
                  input(type='hidden', name='user_id', value=row.user_id)
                  input(type='hidden', name='playlist_id', value=row.playlist_id)
                  button#editButton(type='submit') Edit
                  //- Add an "Edit" button for each row


      tr
      each column in data[0]
        td
      td
        button#addButton(type='button') Add
  // Add an "Add" button row

  .overlay#addFormContainer
    #addForm
      h2 Add Data
      form#addDataForm(action='add', method='post', enctype='multipart/form-data')
        // Input fields for adding data
        label(for='user_id') User ID
        input(type='text', name='user_id', id='user_id', required)
        label(for='playlistName') Playlist Name
        input(type='text', name='playlistName', id='playlistName', required)
        br
        button(type='submit') Upload
      button#closeButton(type='button') Close

  //- .overlay#editFormContainer
  //-   #editForm
  //-     h2 Edit Data
  //-     form#editDataForm(action='edit', method='post', enctype='multipart/form-data')
  //-       // Input fields for editing data
  //-       label(for='user_id') User ID
  //-       input(type='text', name='user_id', id='user_id', required)
  //-     button#closeEditButton(type='button') Close


  script.
    document.addEventListener('DOMContentLoaded', function () {
      const addButton = document.getElementById('addButton');
      const addFormContainer = document.getElementById('addFormContainer');
      //- const closeFormButton = document.getElementById('closeButton');

      addButton.addEventListener('click', function () {
        addFormContainer.style.display = 'flex';
      });

      //- closeFormButton.addEventListener('click', function () {
      //-   addFormContainer.style.display = 'none';
      //- });

      const editButton = document.getElementById('editButton');
      //- const editFormContainer = document.getElementById('editFormContainer');
      //- const closeEditFormButton = document.getElementById('closeEditButton');

      //- editButton.addEventListener('click', function () {
      //-   editFormContainer.style.display = 'flex';
      //- });

    //-   closeEditFormButton.addEventListener('click', function () {
    //-     editFormContainer.style.display = 'none';
    //- });
    });